.api_key_button_add_container
{
    padding: 0 0 2em 0;
}

.api_key_button_add_container > *
{
    font-size: 1.4em;
}

.api_key_container
{
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;

    border-bottom: 1px solid #dddddd;
}

.api_key_container > *
{
    display: block;
    padding: 0.3em 0;

    font-size: 1.4em;

    vertical-align: top;
}

.api_key_name_container > * {display:none;font-weight: bold;}



.api_key_container > *:before
{
    display: inline-block;
    width: 8em;
    padding-right: 0.5em;

    font-weight: bold;
}
.api_key_name:before {content: 'Key: ';}
.api_key_alternate_name:before {content: 'Name: ';}
.api_key_ip_restriction:before {content: 'IP Restriction: ';}

.api_key_ip_restriction > *
{
    display: inline-block;
}
.api_key_ip_restriction_name
{
    width: 10em;
}

.api_key_controller
{
    font-family: FontAwesome;

    white-space: nowrap;
}
.api_key_name_container > .api_key_controller {display: none;}

.api_key_container .api_key_controller > *
{
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0.5em 0 0;

    background: #dddddd;

    border-radius: 3px;
}
@media only screen and (min-width:768px)
{
    .api_key_name_container > * {display:block;}
    .api_key_container > * {display: inline-block;}
    .api_key_container > *:before {display:none;}

    .api_key_name {width: 20em;}
    .api_key_alternate_name {width: 10em;}
    .api_key_ip_restriction {width: 18em;}

    .api_key_container .api_key_controller > *
    {
        padding: 0;
        background: transparent;
    }
    .api_key_container .api_key_controller .api_key_controller_text
    {
        display: none;
    }
}