.api_key_button_add_container
{
    padding: 0 0 2em 0;
}

.api_key_button_add_container > *
{
    font-size: 1.4em;
}

.api_key_wrapper_empty {display: none;}

.api_key_container
{
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;

    border-bottom: 1px solid #dddddd;
}

.api_key_container > *
{
    display: block;
    padding: 0.3em 0;

    font-size: 1.4em;

    vertical-align: top;
}

.api_key_name_container > * {display:none;font-weight: bold;}



.api_key_container > *:before
{
    display: block;
    width: 100%;

    font-weight: bold;
}
.api_key_name:before {content: 'Key: ';}
.api_key_alternate_name:before {content: 'Name: ';}
.api_key_ip_restriction:before {content: 'IP Restriction: ';}

.api_key_ip_restriction > *
{
    display: inline-block;
}
.api_key_ip_restriction_name
{
    width: 10em;
}

.api_key_controller
{
    font-family: FontAwesome;
}
.api_key_hidden_container
{
    display: none;
}
.api_key_name_container > .api_key_controller {display: none;}

.api_key_container .api_key_controller > *
{
    display: inline-block;
    width: 100%;
    padding: 0.5em 1em;
    margin: 0 0 0.5em 0;

    background: #dddddd;

    border-radius: 3px;
}
@media only screen and (min-width:480px)
{
    .api_key_controller {white-space: nowrap;}
    .api_key_container > *:before
    {
        display: inline-block;
        width: 8em;
        padding-right: 0.5em;
    }
    .api_key_container .api_key_controller > *
    {
        width: auto;
        margin: 0 0.5em 0 0;
    }
}
@media only screen and (min-width:768px)
{
    .api_key_name_container > * {display:block;}
    .api_key_container > * {display: inline-block;}
    .api_key_container > *:before {display:none;}

    .api_key_container .api_key_controller > *
    {
        padding: 0;
        background: transparent;
    }
    .api_key_container .api_key_controller .api_key_controller_text
    {
        display: none;
    }
}

@media only screen and (min-width:768px) and (max-width:991px)
{
    .api_key_name {width: 20em;}
    .api_key_alternate_name {width: 10em;}
    .api_key_ip_restriction {width: 18em;}
}

@media only screen and (min-width:992px)
{
    .api_key_name {width: 35%;}
    .api_key_alternate_name {width: 20%;}
    .api_key_ip_restriction {width: 30%;}

}

#delete_confirm_overlay_wrapper > .overlay_container
{
    max-width: 500px;
}

#delete_confirm_overlay_wrapper .delete_confirm_message_container
{
    padding: 1em 0 3em 0;
}

.delete_confirm_button_container
{
    text-align: center;
}

#delete_confirm_overlay_wrapper .general_style_input_button
{
    display: inline-block;
    width: 100%;
    margin: 0 0 0.5em 0;
}

@media only screen and (min-width:480px) {
    #delete_confirm_overlay_wrapper .general_style_input_button
    {
        width: 10em;
        margin: 0 0.5em 0.5em 0.5em;
    }
}

#api_key_update_form_overlay_wrapper > .overlay_container
{
    max-width: 500px;
}

.update_form_message_container {padding:1em 0 2em 0;}
.update_form_message_container h2 {padding-bottom:0.5em;}
.update_form_message_container p {font-size:0.8em;padding-bottom:0.5em;}

.update_row {padding:0.5em 0;border-bottom:1px solid #eeeeee;}
.update_row_label {display: inline-block;width: 7em;}
.update_row_value {display: inline-block;max-width: 100%;}
.update_row_ip_restriction .update_row_value {width:100%;margin-bottom: 0.5em;}

.update_row_value input
{
    width: 22em;
    max-width: 100%;
    padding: 0.5em 1em;

    border:2px solid #dddddd;
    border-radius: 3px;

    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}
.update_row_ip_restriction input {width:100%;}
.update_row_value input:focus {border-color: #cccccc;}
.update_row_message {font-size: 0.8em;font-style: italic;padding: 0.5em 0;}
.update_row_ip_container {display: block;width:100%;}
.ip_row_container
{
    display: block;
    position: relative;
    padding: 0.5em 1em;
    margin: 0 0 0.5em 0;

    background: #eeeeee;

    border: 2px solid #eeeeee;
    border-radius: 3px;

    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}
.ip_row_container_highlight
{
    border-color: #ffaaaa;
}
.ip_value {display: inline-block;}
.ip_delete {
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    top:50%;
    right:0.5em;
    margin-top: -1em;

    color: #666666;
    font-family: FontAwesome;
    font-weight: bold;
    text-align: center;
    line-height: 2em;

    cursor: pointer;

    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.ip_delete:hover {color: #000000;}

.update_form_button_container {padding:1em 0; text-align: center;}

#api_key_update_form_overlay_wrapper .general_style_input_button
{
    display: inline-block;
    width: 100%;
    margin: 0 0 0.5em 0;
}

@media only screen and (min-width:480px) {
    #api_key_update_form_overlay_wrapper .general_style_input_button
    {
        width: 10em;
        margin: 0 0.5em 0.5em 0.5em;
    }
}
